<BottomNavigation selectedIndex="1">

    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <TabStrip>
        <TabStripItem>
            <Label text="Sudoku"></Label>        
        </TabStripItem>
        <TabStripItem>
            <Label text="Quiz"></Label>           
        </TabStripItem>
        <TabStripItem>
            <Label text="Activate Brain"></Label>         
        </TabStripItem>
    </TabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <TabContentItem>
        <GridLayout>
           
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
           
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
           
        </GridLayout>
    </TabContentItem>

</BottomNavigation>
